body{
	background: url(../img/login1.png);
	background-size: cover;
}
#login{
	width: 100%;
	height: 100%;
	padding: 0 0.18rem;
	box-sizing: border-box;
}
#login_head{
	width: 100%;
	height: 1.89rem;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
}
#login_head img{
	width: 0.8rem;
	height: 0.92rem;
}
#login_head p{
	color: #fff;
	font-size: 0.16rem;
	margin-top: 0.14rem;
}
.login_center{
	width: 100%;
	height: 0.58rem;
	display: flex;
	align-items: flex-end;
}
.login_text{
	width: 3.39rem;
	height: 0.45rem;
	background: #fff;
	display: flex;
	align-items: center;
}
.login_center .ilogin1{
	color: #666666;
	font-size: 0.2rem;
	margin: 0 0 0 0.2rem;
}
.login_center input{
	width: 3rem;
	height: 0.4rem;
	border: none;
	text-indent: 0.15rem;
	font-size: 0.14rem;
	color: #999999;
	outline: none;
}
#login_code{
	width: 100%;
	height: 0.58rem;
	display: flex;
	align-items: flex-end;
}
#login_code #login_import{
	width: 1.89rem;
	height: 0.45rem;
	background: #fff;
	margin-right:0.19rem;
	display: flex;
	align-items: center;
}
#login_code #login_import .ilogin1{
	color: #666666;
	font-size: 0.2rem;
	margin: 0 0 0 0.2rem;
}
#login_code #login_click{
	width: 1.33rem;
	height: 0.45rem;
	background:#0093dd;
	display: flex;
	justify-content: center;
	align-items: center;
  font-size: 0.14rem;
  color:#eef8fd;
  border:none;
}
#login_password{
	width: 100%;
	height: 0.18rem;
	font-size: 0.12rem;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	margin-bottom: 0.35rem;
}
.login_rember{
	display: flex;
	align-items: flex-end;
}
.login_rember input{
  display: block;
  width:0.15rem;
  height:0.15rem;
}
.login_rember span{
	color: #fff;
}
#login_password a{
	color:#fff;
	text-decoration: underline;
}
.login_submit{
	width: 3.39rem;
    height: 0.45rem;
    background: #0093dd;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.11rem;
}
.login_submit p{
	font-size: 0.15rem;
	color: #fff;
	font-weight: 600;
}
#login .remind{
	width: 100%;
	height: 0.21rem;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 0.92rem;
}
#login .remind p{
	font-size: 0.14rem;
	color: #eeeeee;
}
